
.literature-cta {
    margin: 3rem 0;
    border: 1px solid #a5a5a5;;
    border-radius: 5px;
    padding: 10px 35px 30px;
    box-shadow: 15px 15px 34px -17px #000000;

    h2 {
        border-bottom: 2px solid $color-primary;
        display: inline-block;
    }
}