.archive {
    .thumbnail-container {
        img {
            height: 40px;
            width: auto;
        }
    }
    h2 {
        margin-bottom: 0;
    }
    .supplier-description {
        min-height: 75px;
    }
}