.page-sidebar {
    list-style: none;
    background-color: $color-secondary;
    padding: 15px!important;

	ul {
		list-style: none;  
    }

    .widgettitle {
        text-align: center;
        color: $color-white;
        margin-top: 0;
    }

    .mktoForm {

        .mktoLabel {
            color: $color-white;
        }
    }

    .gfield {
        padding-right:0!important;
    }
    .gform_footer {
        margin-top: 0!important;
    }
    
    .menu {
        
        .menu-item {
          margin: 10px 5px; 

          a {
            display: block;
            padding: 15px;
            @include transition();

            &:hover {
                background-color: $color-primary;
                color: $color-white;
            }

          }
        }
    }
}

.sb-resources {
    text-align: left;
    padding: 2rem;
    background-color: #f1f1f1;
    margin-top: 5rem;
    padding-bottom: 0;
    h2 {
        position: relative;
        &::after {
            content: "";
            width: 60px;
            height: 5px;
            background-color: $color-primary;
            position: absolute;
            left: 0;
            bottom: -10px;
            
        }
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }
    li {
        border-bottom: 1px solid #bbbbbb;
    }
    li:nth-last-child(1) {
        border-bottom: none;
    }
}