/* Brand Colors */
$color-white: #fff;
$color-black: #000;
// $color-primary: #e43926;
$color-primary: #e4130a;
$color-secondary: #5f6062;
$color-tertiary: #1f1f1f;
$color-quaternary: #9a9a9a;

$color-xlight-gray: #d4d4d4;
/* Transparent Overlay Colors */
$color-overlay-gray: #0000008c;


/* Transparent Overlay Colors */
$color-overlay-gray: #0000008c;
$color-overlay-dark-gray: #0000009c;
/* WP color styles */ 
// .has-light-green-background-color {
//     background-color: $color-light-green;
// }

/* Background Colors */
.bg-gray {
    background-color: $color-secondary;
}

